.App {
  text-align: center;
}

.home {
  background-image: url("https://laistassets.scprdev.org/i/4391c59d27b84c8b1baf58b6377dfd35/5b2c60914488b30009282e3e-original.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 75%;
  margin-top: 50px;
  padding-left: 10rem;
  margin-left: 10rem;
}

.header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  margin-right: 20rem;
  
}

.park-map {
  background: transparent;
  max-block-size: fit-content;
}


/* .auth {
  background-color: aqua;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 50%;
  margin-left: 20rem;
  margin-top: 100px;
} */

.signin {
  justify-self: auto;
}

.yogi {
  max-block-size: fit-content;
}

.navbar {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  max-height: 150px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.park-card {
  flex-basis: 40%;
  margin: 10px;
  border: solid;
  padding: 3px;
  border-radius: 5px;
  display: inline-grid;
  background: rgba(255, 228, 196, 0.358);
}

.user-page {
  background-image: url("https://baseballhall.org/sites/default/files/styles/fullscreen_image_popup/public/islandora_images/Ruth%20Babe%201386.86_Bat_%20NBL.jpg?itok=S1-NLMgw");
  background-size: cover;
  height: 100vh;
}

.username {
  color: aliceblue;
}
